/* laptop */
@media screen and (min-width: 1024px) {
    html {
      background-color: #c3f7ea;
    }
    .container {
      font-family: "Open Sans", sans-serif;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
    }
    .card {
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 3%;
  
    }
    .card-text {
      font-size: larger;
    }
    .card img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .details {
        font-size: small;
        align-self: flex-start;
      }
    .click-item {
      align-self: flex-start;
      text-decoration: none;
      margin-top: 5%;
      color: #0dbfe7;
      font-weight: bold;
      font-size: small;
    }
    
  }


/* mobile */
@media screen and (max-width: 767px) {
  html {
    background-color: #c3f7ea;
  }
  .container {
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .card {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 3%;
    grid-gap: 10px;

  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .card-text {
    font-size: larger;
  }
  .click-item {
    align-self: flex-start;
    text-decoration: none;
    margin-top: 2%;
    color: #0dbfe7;
    font-weight: bold;
  }
  .details {
    align-self: flex-start;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    background-color: #c3f7ea;
  }
  .container {
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .card {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 3%;

  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .card-text{
    font-size: larger;
  }
  .click-item {
    align-self: flex-start;
    text-decoration: none;
    margin-top: 2%;
    color: #0dbfe7;
    font-weight: bold;
    font-size: small;
  }
  .details {
    font-size: small;
    align-self: flex-start;
  }
}


