/*  -------Mobile Screen------  */

@media only screen and (max-width: 500px) {
  body {
    background-color: rgb(187, 187, 187);
  }
  .main {
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .card {
    background-color: rgb(255, 255, 255);
  }
  img {
    width: 580px;
    height: 550px;
  }
}

/* Tablet Screen */
@media only screen and (min-width: 501px) {
  body {
    background-color: rgb(187, 187, 187);
  }
  .main {
    display: grid;
    gap: 15px;
    /* grid-template-rows: 20% 20% 20%; */
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(4, 33%);
  }
  .card {
    background-color: rgb(255, 255, 255);
    padding: 5%;
  }
  img {
    width: 250px;
    height: 250px;
  }
}

/* Laptop Screen */
@media only screen and (min-width: 1000px) {
  body {
    background-color: rgb(187, 187, 187);
  }
  .main {
    display: grid;
    gap: 15px;
    /* grid-template-rows: 20% 20% 20%; */
    grid-template-columns: repeat(4, 24.2%);
    grid-template-rows: repeat(4, 50%);
  }
  .card {
    background-color: rgb(255, 255, 255);
    padding: 5%;
  }
  img {
    width: 200px;
    height: 200px;
  }
}
